/** Add css rules here for your application. */


.body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/** Example rules used by the template application (remove for your app) */
h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 99px;
  font-weight: bold;
  margin: 10px 0px 20px;
  text-align: center;
  color:#b32d47;
}

.mag {
	font-size: 22px;
	color: b32d47;
	font-weight: bold;
}

.when {
	font-weight: bold;
}

.distance {
	font-weight: bold;
	}

.eq_data {
    border-width: 1px 1px 1px 1px;
    border-spacing: 2px;
    border-style: none none none none;
    border-collapse: collapse;
}
.eq_data td {
    border-width: 1px 0px 1px 0px;
    padding: 3px 7px 3px 7px;
    border-style: solid solid solid solid;
    border-color: black black black black;
}

.messages {
	background-color: #fffce0;
	padding: 2px;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
